spring:
  application:
    name: ticket-service

  cloud:
    config:
      enabled: false
      import-check:
        enabled: false

  datasource:
    url: jdbc:postgresql://postgres-ticket:5432/ticket-service-db
    username: hiba
    password: hiba
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

server:
  port: 8082

eureka:
  client:
    enabled: false
    register-with-eureka: false
    fetch-registry: false

logging:
  level:
    com.transport.ticket: DEBUG
    org.hibernate.SQL: DEBUG
    root: INFO

