spring:
  application:
    name: geolocation-service
  cloud:
    config:
      enabled: false
      import-check:
        enabled: false
    compatibility-verifier:
      enabled: false

  data:
    mongodb:
      uri: mongodb://geolocation-db:27017/geolocation_db
    redis:
      host: redis
      port: 6379
      timeout: 2000ms

  kafka:
    bootstrap-servers: kafka:29092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

server:
  port: 8084

# Eureka Configuration
eureka:
  client:
    enabled: true
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://${EUREKA_USERNAME:eureka}:${EUREKA_PASSWORD:eureka123}@service-registry:8761/eureka/

  instance:
    prefer-ip-address: true
    hostname: geolocation-service
    instance-id: ${spring.application.name}:${server.port}
    lease-renewal-interval-in-seconds: 30
    lease-expiration-duration-in-seconds: 90

# Actuator Configuration
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always

# Logging Configuration
logging:
  level:
    com.geolocation_service: DEBUG
    root: INFO
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} - %msg%n"

# Spring Doc OpenAPI Configuration (si disponible)
springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true