spring:
  application:
    name: subscription-service

  cloud:
    config:
      enabled: false
      import-check:
        enabled: false

  datasource:
    url: jdbc:postgresql://postgres-subscription:5432/subscription_service
    username: hiba
    password: hiba
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      connection-timeout: 30000

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

server:
  port: 8085

eureka:
  client:
    enabled: true
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://eureka:eureka123@service-registry:8761/eureka/
  instance:
    prefer-ip-address: false
    hostname: subscription-service
    instance-id: subscription-service:8085

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: always

logging:
  level:
    root: INFO
    com.transport.subscription: DEBUG
    org.springframework.web: INFO
    org.hibernate: WARN