spring:
  application:
    name: api-gateway
  cloud:
    config:
      enabled: false
      import-check:
        enabled: false
    compatibility-verifier:
      enabled: false

  data:
    redis:
      host: redis
      port: 6379

server:
  port: 8080

eureka:
  client:
    service-url:
      defaultZone: http://${EUREKA_USERNAME:eureka}:${EUREKA_PASSWORD:eureka123}@service-registry:8761/eureka/

  instance:
    prefer-ip-address: false
    hostname: api-gateway
    instance-id: api-gateway:8080