spring:
  application:
    name: config-server

  cloud:
    config:
      server:
        native:
          search-locations: file:/config-repo

server:
  port: 8888

eureka:
  client:
    enabled: true
    service-url:
      defaultZone: http://eureka:eureka123@service-registry:8761/eureka/

  instance:
    prefer-ip-address: false
    hostname: config-server