spring:
  application:
    name: config-server
  main:
    allow-bean-definition-overriding: true
  cloud:
    config:
      server:
        native:
          search-locations: file:/config-repo
    compatibility-verifier:
      enabled: false

server:
  port: 8888

eureka:
  client:
    enabled: true
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://service-registry:8761/eureka/

  instance:
    prefer-ip-address: true
    hostname: config-server
    instance-id: ${spring.application.name}:${server.port}
    lease-renewal-interval-in-seconds: 30
    lease-expiration-duration-in-seconds: 90